<header class="header">
    <div class="page-container header__content-wrapper">
        <div class="header__logo"><img src="img/logotype.png"></div>
        <div class="header__contact-group">
            <a class="header__number link-no-link" href="tel:+74954192295">+7 (495) 419-22-95 </a>
            <button class="btn header__button btn_secondary path-2-form order__button" data-toggle="modal" data-target="#myModal" data-mheader="Заказать звонок" data-msend="Отправить заявку" data-mformname="Модальное окно - кнопка хедер">Заказать звонок</button>
        </div>
    </div>
</header>
