<section class="visual-form gr" id="visible-form">
    <div class="container visual-form__container">
        <form class="modal-1_form form visual-form__content" id="form-2" method="post" action="javascript:void(0);" onsubmit="ajax2();">
            <p class="visual-form__header">Получить бесплатно </p>
            <p class="visual-form__subtitle">электронную подборку документов «Годовой отчет 2020»<br>
                <span class="visual-form__subtitle_mini">(популярные книги, пошаговые инструкции, актуальные формы документов с образцами заполнения, календари)</span></p>

                <p class="form__item">
                    <label class="form_label form_label-icon form_label-icon-name" for="name-2"></label>
                    <input id="name-2" class="form_input form_input-name" name="name" type="text" value=""
                           placeholder="Имя*" required>
                </p>
                <p class="form__item">
                    <label class="form_label form_label-icon form_label-icon-tel" for="tel-2"></label>
                    <input id="tel-2" class="form_input form_input-tel" name="tel" pattern="[+]7[\(]\d{3}[\)]\s\d{3}[\-]\d{4}" min="10" type="tel" value=""
                           placeholder="Телефон*" required>
                </p>

                <div class="form__item">
                    <label class="form_label form_label-icon form_label-icon-email" for="mail-2"></label>
                    <input id="mail-2" class="form_input form_input-mail" name="mail" type="email" value="" placeholder="E-mail">
                </div>

            <p class="form__item form__item-send">
                <input id="send-2" class="btn btn_green btn__primary visual-form__btn" name="send" type="submit" value="Отправить заявку">
                <input id="formName2" name="formName" type="hidden" value="Форма-низ страницы">
                <input name="submit" type="hidden" class="submit" disabled="" />
            </p>
            <p class="form__item form__item_privacy">
                Нажимая на кнопку, вы даете согласие на&nbsp;<a href="https://www.elcode.ru/pravovaya-informatsiya/polzovatelskoe-soglashenie" class="personal-data__link" target="_blank">обработку персональных данных.</a>
            </p>
        </form>
    </div>
</section>


